.content {
  display: flex;
  justify-content: center;
}
.form {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.5rem;
  width: fit-content;
  .input {
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
}
.text {
  text-align: center;
}
